source/api/jip/_static/wsdl/DirectAuth_v4_2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agw-as.cz/ats-ws/atsUser/atsSzr/v4_2" targetNamespace="http://agw-as.cz/ats-ws/atsUser/atsSzr/v4_2">
  <wsdl:types>
    <xs:schema xmlns:v4_2="http://agw-as.cz/ats-ws/atsUser/atsSzr/v4_2" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://agw-as.cz/ats-ws/atsUser/atsSzr/v4_2">
      <xs:element name="directAuthUserRequest" type="v4_2:directAuthUserRequestType"/>
      <xs:element name="directAuthUserResponse" type="v4_2:directAuthUserResponseType"/>
      <xs:complexType name="directAuthUserRequestType">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="password" type="xs:string"/>
          <xs:choice minOccurs="0">
            <xs:element name="otp" type="xs:string"/>
            <xs:element name="certificate" type="xs:base64Binary"/>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="directAuthUserResponseType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="attributes" type="v4_2:attributesType">
            <xs:annotation>
              <xs:documentation>atributy z identitniho prostoru</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="status" type="v4_2:directAuthUserResponseStatusType">
            <xs:annotation>
              <xs:documentation>OK/SYSTEM_ERROR/VERIFICATION_FAILED</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attributesType">
        <xs:all>
          <xs:element name="Username" type="v4_2:UsernameType"/>
          <xs:element name="UzivatelId" type="v4_2:UzivatelIdType"/>
          <xs:element name="ZkratkaSubjektu" type="v4_2:ZkratkaSubjektuType"/>
          <xs:element name="IcSubjektu" type="v4_2:IcSubjektuType"/>
          <xs:element name="Jmeno" type="v4_2:JmenoType"/>
          <xs:element name="Prijmeni" type="v4_2:PrijmeniType"/>
          <xs:element name="TitulPred" type="v4_2:TitulPredType"/>
          <xs:element name="TitulZa" type="v4_2:TitulZaType"/>
          <xs:element name="PristupoveRole" type="v4_2:PristupoveRoleType"/>
          <xs:element name="CinnostniRole" type="v4_2:CinnostniRoleType"/>
          <xs:element name="Email" type="v4_2:EmailType"/>
          <xs:element name="NazevSubjektu" type="v4_2:NazevSubjektuType"/>
          <xs:element name="EmailSubjektu" type="v4_2:EmailSubjektuType"/>
          <xs:element name="TypInstituce" type="v4_2:TypInstituceType"/>
          <xs:element name="OvmPrimarni" type="v4_2:OvmPrimarniType"/>
          <xs:element name="TypPrihlaseni" type="v4_2:TypPrihlaseniType"/>
          <xs:element name="TypPrihlaseniNia" type="v4_2:TypPrihlaseniNiaType"/>
          <xs:element name="OsobaZtotoznena" type="v4_2:OsobaZtotoznenaType"/>
          <xs:element name="TokenAifo" type="v4_2:TokenAifoType"/>
          <xs:element name="Pracoviste" type="v4_2:PracovisteType"/>
          <xs:element name="MistoNarozeni" type="v4_2:MistoNarozeniType"/>
          <xs:element minOccurs="0" name="DatumNarozeni" type="v4_2:DatumNarozeniType"/>
          <xs:element minOccurs="0" name="DatumUmrti" type="v4_2:DatumUmrtiType"/>
          <xs:element name="Doklady" type="v4_2:DokladyType"/>
          <xs:element name="NeevidovatOsobniUdaje" type="v4_2:NeevidovatOsobniUdajeType"/>
          <xs:element name="IdentifikatorOvm" type="v4_2:IdentifikatorOvmType"/>
          <xs:element name="IdentifikatorSpuu" type="v4_2:IdentifikatorSpuuType"/>
          <xs:element name="TimeLimitedId" type="v4_2:TimeLimitedIdType"/>
        </xs:all>
      </xs:complexType>
      <xs:simpleType name="directAuthUserResponseStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK"/>
          <xs:enumeration value="SYSTEM_ERROR"/>
          <xs:enumeration value="VERIFICATION_FAILED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UsernameType">
        <xs:restriction base="xs:string">
          <xs:minLength value="4"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UzivatelIdType">
        <xs:restriction base="xs:base64Binary">
          <xs:minLength value="16"/>
          <xs:maxLength value="16"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ZkratkaSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="20"/>
          <xs:pattern value="[a-zA-Z0-9_.;:@|!*%=+-?,]*"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IcSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="8"/>
          <xs:pattern value="[0-9]*"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="JmenoType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="32"/>
          <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PrijmeniType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="64"/>
          <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TitulPredType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="20"/>
              <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:simpleType name="TitulZaType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="20"/>
              <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:complexType name="PristupoveRoleType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="role">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CinnostniRoleType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Agenda">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="KodAgendy">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="15"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="KodCinnostniRole">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="15"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
          <xs:minLength value="0"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="NazevSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="0"/>
          <xs:maxLength value="255"/>
          <xs:pattern value="[^\t\r\n]*"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EmailSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="0"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TypInstituceType">
        <xs:restriction base="xs:unsignedInt">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="100"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="OvmPrimarniType">
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="TRUE"/>
          <xs:enumeration value="FALSE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TypPrihlaseniType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="p-pwd"/>
              <xs:enumeration value="p-hotp"/>
              <xs:enumeration value="p-cert"/>
              <xs:enumeration value="p-nia"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:simpleType name="TypPrihlaseniNiaType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="http://eidas.europa.eu/LoA/low"/>
              <xs:enumeration value="http://eidas.europa.eu/LoA/substantial"/>
              <xs:enumeration value="http://eidas.europa.eu/LoA/high"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string"/>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:simpleType name="OsobaZtotoznenaType">
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
      <xs:simpleType name="TokenAifoType">
        <xs:restriction base="xs:string"/>
      </xs:simpleType>
      <xs:complexType name="PracovisteType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="Id">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="2"/>
                <xs:maxLength value="20"/>
                <xs:pattern value="[a-zA-Z0-9_.;:@|!*%=+-?,]*"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Nazev">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="2"/>
                <xs:maxLength value="100"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Adresa">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="200"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="KodAdresy" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MistoNarozeniType">
        <xs:choice minOccurs="0">
          <xs:element name="MistoNarozeniCr">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:integer">
                  <xs:attribute name="mop" type="xs:boolean"/>
                  <xs:attribute name="nazev" type="xs:string"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="MistoNarozeniSvet">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="stat">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:integer">
                        <xs:attribute name="nazev" type="xs:string"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="misto" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:attribute name="stav">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="spravny"/>
              <xs:enumeration value="nespravny"/>
              <xs:enumeration value="nedefinovany"/>
              <xs:enumeration value="nespravnyTvar"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="DatumNarozeniType">
        <xs:simpleContent>
          <xs:extension base="xs:date">
            <xs:attribute name="stav">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="spravny"/>
                  <xs:enumeration value="nespravny"/>
                  <xs:enumeration value="nedefinovany"/>
                  <xs:enumeration value="nespravnyTvar"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DatumUmrtiType">
        <xs:simpleContent>
          <xs:extension base="xs:date">
            <xs:attribute name="stav">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="spravny"/>
                  <xs:enumeration value="nespravny"/>
                  <xs:enumeration value="nedefinovany"/>
                  <xs:enumeration value="nespravnyTvar"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DokladyType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Doklad">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="stav">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="spravny"/>
                        <xs:enumeration value="nespravny"/>
                        <xs:enumeration value="nedefinovany"/>
                        <xs:enumeration value="nespravnyTvar"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="typ">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Viz zakladni registry: ID občanský průkaz P cestovní pas IR povolení k pobytu VS vízový štítek PS pobytový štítek</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NeevidovatOsobniUdajeType">
        <xs:restriction base="xs:boolean"/>
      </xs:simpleType>
      <xs:simpleType name="IdentifikatorOvmType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IdentifikatorSpuuType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="36"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TimeLimitedIdType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="directAuthUserResponse">
    <wsdl:part element="tns:directAuthUserResponse" name="directAuthUserResponse"/>
  </wsdl:message>
  <wsdl:message name="directAuthUserRequest">
    <wsdl:part element="tns:directAuthUserRequest" name="directAuthUserRequest"/>
  </wsdl:message>
  <wsdl:portType name="DirectAuthUser">
    <wsdl:operation name="directAuthUser">
      <wsdl:input message="tns:directAuthUserRequest" name="directAuthUserRequest"/>
      <wsdl:output message="tns:directAuthUserResponse" name="directAuthUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectAuthUserSoap11" type="tns:DirectAuthUser">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="directAuthUser">
      <soap:operation soapAction="directAuthUserv2"/>
      <wsdl:input name="directAuthUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="directAuthUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectAuthUserService">
    <wsdl:port binding="tns:DirectAuthUserSoap11" name="DirectAuthUserSoap11">
      <soap:address location="https://cert-externalauthapi.caais.gov.cz/asws/directAuthUserEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
