source/api/jip/wsdl/GetCredential_v2_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agw-as.cz/ats-ws/atsSzr/v2_1" targetNamespace="http://agw-as.cz/ats-ws/atsSzr/v2_1">
  <wsdl:types>
    <xs:schema xmlns:v2_1="http://agw-as.cz/ats-ws/atsSzr/v2_1" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://agw-as.cz/ats-ws/atsSzr/v2_1">
      <xs:element name="authConfirmationRequest" type="v2_1:authConfirmationRequestType"/>
      <xs:element name="authConfirmationResponse" type="v2_1:authConfirmationResponseType"/>
      <xs:element name="heartBeatRequest" type="v2_1:heartBeatRequestType"/>
      <xs:element name="heartBeatResponse" type="v2_1:heartBeatResponseType"/>
      <xs:complexType name="heartBeatRequestType">
    </xs:complexType>
      <xs:complexType name="heartBeatResponseType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="status" type="v2_1:heartBeatResponseStatusType"/>
          <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="heartBeatResponseStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK"/>
          <xs:enumeration value="ERROR"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="authConfirmationRequestType">
        <xs:sequence>
          <xs:element name="sessionId">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:annotation>
                  <xs:documentation>
                                Retezec alfanumerickych znaku a '-'.
                            </xs:documentation>
                </xs:annotation>
                <xs:minLength value="30"/>
                <xs:maxLength value="50"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attributesType">
        <xs:all>
          <xs:element name="Username" type="v2_1:UsernameType"/>
          <xs:element name="UzivatelId" type="v2_1:UzivatelIdType"/>
          <xs:element name="ZkratkaSubjektu" type="v2_1:ZkratkaSubjektuType"/>
          <xs:element name="IcSubjektu" type="v2_1:IcSubjektuType"/>
          <xs:element name="Jmeno" type="v2_1:JmenoType"/>
          <xs:element name="Prijmeni" type="v2_1:PrijmeniType"/>
          <xs:element name="TitulPred" type="v2_1:TitulPredType"/>
          <xs:element name="TitulZa" type="v2_1:TitulZaType"/>
          <xs:element name="PristupoveRole" type="v2_1:PristupoveRoleType"/>
          <xs:element name="CinnostniRole" type="v2_1:CinnostniRoleType"/>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="authConfirmationResponseType">
        <xs:sequence>
          <xs:element name="status" type="v2_1:authConfirmationResponseStatusType">
            <xs:annotation>
              <xs:documentation>OK/SYSTEM_ERROR/SESSION_NOT_FOUND</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="userRequestIp">
            <xs:annotation>
              <xs:documentation>
                        IP uzivatele pri prihlaseni, muze byt IPv6/IPv4, pokud uzivatel pristupuje pres proxy
                        bere se IP proxy ktera je nejdal od uzivatele
                    </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="39"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="attributes" type="v2_1:attributesType">
            <xs:annotation>
              <xs:documentation>atributy z identitniho prostoru</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="authConfirmationResponseStatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OK"/>
          <xs:enumeration value="SYSTEM_ERROR"/>
          <xs:enumeration value="SESSION_NOT_FOUND"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UsernameType">
        <xs:restriction base="xs:string">
          <xs:minLength value="4"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UzivatelIdType">
        <xs:restriction base="xs:base64Binary">
          <xs:minLength value="16"/>
          <xs:maxLength value="16"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ZkratkaSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="20"/>
          <xs:pattern value="[a-zA-Z0-9_.;:@|!*%=+-?,]*"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IcSubjektuType">
        <xs:restriction base="xs:string">
          <xs:minLength value="8"/>
          <xs:maxLength value="8"/>
          <xs:pattern value="[0-9]*"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="JmenoType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="32"/>
          <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PrijmeniType">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="64"/>
          <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TitulPredType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="20"/>
              <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:simpleType name="TitulZaType">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="2"/>
              <xs:maxLength value="20"/>
              <xs:pattern value="[^ßĚŮěů0-9 \t\r\n\-!&quot;#$%&amp;'()*+,./:;&lt;=&gt;?@\[\\\]^_`{|}~][^0-9\t\r\n!&quot;#$%'()*+/:;&lt;=&gt;?@\[\\\]^_`{|}~]{1,}"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:complexType name="PristupoveRoleType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="role">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="30"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CinnostniRoleType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Agenda">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="KodAgendy">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="15"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="KodCinnostniRole">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="15"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="authConfirmationRequest">
    <wsdl:part element="tns:authConfirmationRequest" name="authConfirmationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="heartBeatRequest">
    <wsdl:part element="tns:heartBeatRequest" name="heartBeatRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="heartBeatResponse">
    <wsdl:part element="tns:heartBeatResponse" name="heartBeatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authConfirmationResponse">
    <wsdl:part element="tns:authConfirmationResponse" name="authConfirmationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EndSession">
    <wsdl:operation name="heartBeat">
      <wsdl:input message="tns:heartBeatRequest" name="heartBeatRequest">
    </wsdl:input>
      <wsdl:output message="tns:heartBeatResponse" name="heartBeatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authConfirmation">
      <wsdl:input message="tns:authConfirmationRequest" name="authConfirmationRequest">
    </wsdl:input>
      <wsdl:output message="tns:authConfirmationResponse" name="authConfirmationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndSessionSoap11" type="tns:EndSession">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="heartBeat">
      <soap:operation soapAction="heartBeat"/>
      <wsdl:input name="heartBeatRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="heartBeatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authConfirmation">
      <soap:operation soapAction=""/>
      <wsdl:input name="authConfirmationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authConfirmationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EndSessionService">
    <wsdl:port binding="tns:EndSessionSoap11" name="EndSessionSoap11">
      <soap:address location="https://cert-externalauthapi.caais.gov.cz/asws/atsEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
